/* * {
  border: 1px solid red;
} */



body {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: 
  header
  main
  footer;
  z-index: -1;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toptitle {
  grid-area: header;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

#banner-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 10px;
  height: 450px;
  width: 100%;
}

.movieBanner {
  display: flex;
}

.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: .5;

  color: white;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border-radius: 100%;
}
.button-holder {
  align-self: center;
  display: flex;
  width: 100vw;
  z-index: 1;
  position: absolute;
  justify-content: space-between;
}

/* Modal Section */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(221, 221, 221, 0.9);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20% auto;
  padding: 20px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 15%;
  width: 80%;
}

.close {
  color: rgba(0, 0, 0, 0.5);
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  cursor: pointer;
}

.originalTitleText {
  font-size: 1.5rem;
  font-weight: bold;
}

.modalInnerText {
  font-size: 1.25rem;
}

.director {
  font-size: 1.3rem;
  font-weight: bold;
}
